backend/.env
backend/ML/.env
backend/ML/venv
backend/ML/__pycache__
backend/ML/__pycache__/*
backend/ML/main.py
backend/ML/__pycache__/jurnalik_ml.cpython-310.pyc
backend/client/.env
backend/selector_services/telegram_selector/config.ini
backend/selector_services/telegram_selector/.env
backend/selector_services/telegram_selector/selector/__pycache__/check_date.cpython-310.pyc
backend/selector_services/telegram_selector/selector/__pycache__/db.cpython-310.pyc
backend/selector_services/telegram_selector/selector/__pycache__/get_posts.cpython-310.pyc
backend/selector_services/telegram_selector/selector/__pycache__/MediaParser.cpython-310.pyc
backend/selector_services/telegram_selector/selector/__pycache__/selector_pb2_grpc.cpython-310.pyc
backend/selector_services/telegram_selector/selector/__pycache__/selector_pb2.cpython-310.pyc
backend/selector_services/telegram_selector/selector/__pycache__/telegram_module.cpython-310.pyc
.gitignore
backend/selector_services/telegram_selector/selector/.env
backend/selector_services/telegram_selector/selector/+79858805091.session
backend/selector_services/telegram_selector/bot/__pycache__/db.cpython-310.pyc
backend/selector_services/telegram_selector/bot/__pycache__/selector_pb2_grpc.cpython-310.pyc
backend/selector_services/telegram_selector/bot/__pycache__/selector_pb2.cpython-310.pyc
backend/selector_services/telegram_selector/bot/.env
backend/selector_services/telegram_selector/bot/config.ini
backend/selector_services/telegram_selector/selector/config.ini
backend/selector_services/telegram_selector/selector/py_log.log
